<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio - 100 Days of Code</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Miqueas's Portfolio</h1>
        <h2>100 Days of Code</h2>
    </header>
    
    <div class="intro">
        <p>Welcome to my coding portfolio!</p>
        <p><a href="https://github.com/miqueasmd/100_days_of_Code_Replit" target="_blank">This repository</a> 
        contains the daily challenges and projects completed as part of the 100 Days of Code challenge on Replit.</p>
        <a href="https://github.com/miqueasmd/100_days_of_Code_Replit" target="_blank">
            <img src="{{ url_for('static', filename='images/cv_small_web.jpg') }}" width="250" alt="Portfolio Overview">
        </a>
    </div>
    
    <footer>
        <section class="support">
            <h2><a href="https://ko-fi.com/miqueasmd" target="_blank">☕ Support Me</a></h2>
            <a href="https://ko-fi.com/miqueasmd" class="ko-fi" target="_blank">
                <img src="https://ko-fi.com/img/githubbutton_sm.svg" alt="Support me on Ko-fi"> <!-- Ko-fi support button -->
            </a>
        </section>
        <section class="acknowledgements">
            <p>This project is inspired by the 100 Days of Code challenge on Replit. Please visit 
                <a href="https://replit.com/" target="_blank">Replit</a> for more information and resources.
            </p>
        </section>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>