<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day {day} Reflection</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon/favicon.ico">
</head>
<body>
    <header>
        <h1>Day {{ day }} Reflection</h1>
    </header>

    <main class="reflection-post">
        <article>
            <div class="content">
                <a href="{{ link }}" class="link-button" target="_blank">View Project on GitHub</a>
                <p class="reflection-text">{{ reflection }}</p>
            </div>
        </article>
        <nav class="blog-nav">
            <a href="/portfolio" class="link-button">Back to Portfolio</a>
        </nav>
    </main>

    <footer>
        <section class="support">
            <h2><a href="https://ko-fi.com/miqueasmd" target="_blank">&#9749; Support Me</a></h2>
            <p>If you like my work, consider supporting my studies!</p>
            <a href="https://ko-fi.com/miqueasmd" class="ko-fi" target="_blank">
                <img src="https://ko-fi.com/img/githubbutton_sm.svg" alt="Support me on Ko-fi">
            </a>
        </section>
    </footer>
</body>
</html>